<!DOCTYPE html>
<html>
    {% include "header_template.html" %}
<body>
<style>
    .locus-info-label {
        font-weight: bold;
        padding-right: 10px;
        white-space: nowrap;
    }

    .locus-info-table {
        font-size: 1.12em;
        border-collapse: separate;
        border-spacing: 12px 6px;
    }

    .left-col {
        display: flex;
        padding-right: 20px;
        justify-content: flex-end;    /* horizontal centering */
    }
    .right-col {
        display: flex;
        padding-left: 20px;
        justify-content: flex-start;    /* horizontal centering */
    }
</style>
<div class="ui stackable grid">

    {% include "body_header_template.html" %}

    <div class="ui row">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div id="show-igv-divider">
                <span id="show-igv-divider-text">Show IGV.js<i class="chevron down icon"></i></span>
                <span id="hide-igv-divider-text" style="display: none">Hide IGV.js<i class="chevron up icon"></i></span>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
    <div class="ui row">
        <div class="two wide column"></div>
        <div class="six wide column" style="min-width: 600px !important;">
            <div id="locus-page-row1-box1" class="left-col"></div>
        </div>
        <div class="six wide column">
            <div id="locus-page-row1-box2" class="right-col"></div>
        </div>
        <div class="two wide column"></div>
    </div>
    <div class="ui row">
        <div class="two wide column"></div>
        <div class="six wide column" style="min-width: 600px !important;">
            <div id="locus-page-row2-box1" class="left-col"></div>
        </div>
        <div class="six wide column">
            <div id="locus-page-row2-box2" class="right-col"></div>
        </div>
        <div class="two wide column"></div>
    </div>
    <div class="ui row">
        <div class="four wide column"></div>
        <div class="eight wide column" style="display: flex; justify-content: center">
            <div id="locus-page-efficient-motifs"></div>
        </div>
        <div class="four wide column"></div>
    </div>
    <div class="ui row">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div id="locus-page-polymorphism-data" style="position: relative; z-index: 100;"></div>
        </div>
        <div class="three wide column"></div>
    </div>
</div>
<div style="min-height: 50px;"></div>

<script>
    $('body').css('cursor', 'wait')

    const REQUIRED_DATA_COLUMNS_FOR_LOCUS_PAGE = [
        "LocusId",
        "ReferenceRegion",

        "NumRepeatsInReference",
        "ReferenceMotif",
        "CanonicalMotif",

        "DiseaseInfo",
        "KnownDiseaseAssociatedMotif",
        "KnownDiseaseAssociatedLocus",

        "ReferenceRepeatPurity",
        "TRsInRegion",
        "Source",
        "LeftFlankMappability",
        "RightFlankMappability",
        "FlanksAndLocusMappability",
        "VariationCluster",
        "VariationClusterSizeDiff",
        "RepeatMaskerIntervals",

        "GencodeGeneRegion",
        "GencodeGeneName",
        "GencodeGeneId",
        "GencodeTranscriptId",
        "RefseqGeneRegion",
        "RefseqGeneName",
        "RefseqGeneId",
        "RefseqTranscriptId",
        "ManeGeneRegion",
        "ManeGeneName",
        "ManeGeneId",
        "ManeTranscriptId",

        "StdevFromIllumina174k",
        "AlleleFrequenciesFromIllumina174k",

        "StdevFromT2TAssemblies",
        "AlleleFrequenciesFromT2TAssemblies",

        "HPRC100_Stdev",
        "HPRC100_AlleleHistogram",
        "HPRC100_BiallelicHistogram",

        "TenK10K_AlleleHistogram",
        "TenK10K_BiallelicHistogram",
        "TenK10K_Stdev",

        "AoU1027_MinAllele",
        "AoU1027_ModeAllele",
        "AoU1027_Stdev",
        "AoU1027_Median",
        "AoU1027_99thPercentile",
        "AoU1027_MaxAllele",
        "AoU1027_UniqueAlleles",
        "AoU1027_NumCalledAlleles",
        "AoU1027_OE_LengthPercentile",

        "VamosUniqueMotifs",
        "VamosEfficientMotifs",
        "VamosMotifFrequencies",
        //"VamosNumUniqueMotifs",

        "ReferenceRepeatSequence",
        "ReferenceLeftFlank",
        "ReferenceRightFlank",
    ]

    //locus page-specific settings of the DEFAULT_GLOBAL_PAGE_STATE
    DEFAULT_GLOBAL_PAGE_STATE['locusId'] = ''

    let GLOBAL_PAGE_STATE = JSON.parse(JSON.stringify(DEFAULT_GLOBAL_PAGE_STATE))

    const readAndApplyPersistentPageStateFromUrl = async () => {
        GLOBAL_PAGE_STATE = JSON.parse(JSON.stringify(DEFAULT_GLOBAL_PAGE_STATE))
        
        const urlArgs = window.location.hash.substring(1)
        if (!urlArgs) return
        
        const params = new URLSearchParams(urlArgs)
        for (const [key, value] of params.entries()) {
            if (key in DEFAULT_GLOBAL_PAGE_STATE && value != null) {
                // Convert string values to appropriate types
                GLOBAL_PAGE_STATE[key] = value === 'true' ? true : 
                                        value === 'false' ? false :
                                        !isNaN(value) ? Number(value) : value
            }
        }
        console.log("Starting to initialize page. GLOBAL_PAGE_STATE:", GLOBAL_PAGE_STATE)


        // igv
        if (GLOBAL_PAGE_STATE['showIGV'] === 1) {
            $('#igv-row').show()
            $('#show-igv-divider-text').hide()
            $('#hide-igv-divider-text').show()
            await updateIgv()
        }

        // Restore custom track URLs
        for (let i = 1; i <= 3; i++) {
            $(`#igv-custom-track-url-${i}`).val(GLOBAL_PAGE_STATE[`igv_custom_track_url_${i}`] || '')
        }

        await performSearch()
    }

    $('#show-igv-divider').click(async () => {
        GLOBAL_PAGE_STATE['showIGV'] = (GLOBAL_PAGE_STATE['showIGV'] === 1) ? 0 : 1
        writePersistentPageStateToUrl()

        if (GLOBAL_PAGE_STATE['showIGV'] === 1) {
            $('#igv-row').show()
            $('#show-igv-divider-text').hide()
            $('#hide-igv-divider-text').show()
            await updateIgv()
        } else {
            $('#igv-row').slideUp(500, () => {
                $('#hide-igv-divider-text').hide()
                $('#show-igv-divider-text').show()
            })
        }
    })

    const displayError = (message) => {
        $('#error-text').text(message)
        $('#error-message').show()
        $('#results-table').empty()
    }

    const displaySearchResults = () => {

        const row = window.searchResults.rows[0]

        const getHelpIcon = (columnName) => {
            return TABLE_COLUMNS[columnName]?.helpText ? `<i class="question circle outline icon" style="margin-left:10px" data-html="${TABLE_COLUMNS[columnName].helpText}"></i>` : ''
        }

        // Generate the tables at the top of the page
        let locusPageRow1Box1 = '<table class="locus-info-table">'
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Reference Region:</td><td>${TABLE_COLUMNS['ReferenceRegion'].getValue(row)} &nbsp; &nbsp; (<a id="show-igv-button" class="action-link">IGV.js</a>)</td><td>${getHelpIcon('ReferenceRegion')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Reference Motif:</td><td>${TABLE_COLUMNS['ReferenceMotif'].getValue(row, 35)}</td><td>${getHelpIcon('ReferenceMotif')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Canonical Motif:</td><td>${TABLE_COLUMNS['CanonicalMotif'].getValue(row, 35)}</td><td>${getHelpIcon('CanonicalMotif')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Repeats in Reference:</td><td>${TABLE_COLUMNS['NumRepeatsInReference'].getValue(row)}</td><td>${getHelpIcon('NumRepeatsInReference')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Repeat Purity:</td><td>${TABLE_COLUMNS['ReferenceRepeatPurity'].getValue(row)}</td><td>${getHelpIcon('ReferenceRepeatPurity')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Other TRs Nearby:</td><td>${TABLE_COLUMNS['TRsInRegion'].getValue(row) || 'no'}</td><td>${getHelpIcon('TRsInRegion')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Mappability:</td><td>${TABLE_COLUMNS['FlanksAndLocusMappability'].getValue(row)}</td><td>${getHelpIcon('FlanksAndLocusMappability')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Variantion Cluster:</td><td>${TABLE_COLUMNS['variationCluster'].getValue(row) || 'no'}</td><td>${getHelpIcon('variationCluster')}</td></tr>`
        locusPageRow1Box1 += `<tr><td class="locus-info-label">Locus Id:</td><td>${showTruncatedSequence(row['LocusId'], 30, false)}</td><td>${getHelpIcon('LocusId')}</td></tr>`
        locusPageRow1Box1 += `<tr><td colspan="3" style="padding-top: 30px"></td></tr>`
        locusPageRow1Box1 += `<tr><td colspan="3" style="position: relative"><div style="position: absolute; top: 0px; left: 0px; z-index: 1000">`
        locusPageRow1Box1 += `<div class="locus-info-label" style="padding-bottom: 10px">Repeat sequence in hg38:</div>`
        locusPageRow1Box1 += `${showTruncatedSequence(row['ReferenceRepeatSequence'], 100, true, false, true)}`
        locusPageRow1Box1 += `</div></td></tr>`
        locusPageRow1Box1 += '</table>'

        $("#locus-page-row1-box1").html(locusPageRow1Box1)

        let locusPageRow1Box2 = '<table class="locus-info-table">'
        locusPageRow1Box2 += `<tr><td class="locus-info-label">Source:</td><td>${TABLE_COLUMNS['Source'].getValue(row)}</td><td>${getHelpIcon('Source')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">Repeat Masker:</td><td>${TABLE_COLUMNS['RepeatMaskerIntervals'].getValue(row)}</td><td>${getHelpIcon('RepeatMaskerIntervals')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">Gencode Gene:</td><td>${TABLE_COLUMNS['GencodeGeneName'].getValue(row)}</td><td>${getHelpIcon('GencodeGeneName')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">Gencode Region:</td><td>${TABLE_COLUMNS['GencodeGeneRegion'].getValue(row)}</td><td>${getHelpIcon('GencodeGeneRegion')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">Gencode Gene Id:</td><td>${TABLE_COLUMNS['GencodeGeneId'].getValue(row)}</td><td>${getHelpIcon('GencodeGeneId')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">MANE Gene:</td><td>${TABLE_COLUMNS['ManeGeneName'].getValue(row)}</td><td>${getHelpIcon('ManeGeneName')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">MANE Region:</td><td>${TABLE_COLUMNS['ManeGeneRegion'].getValue(row)}</td><td>${getHelpIcon('ManeGeneRegion')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">MANE Gene Id:</td><td>${TABLE_COLUMNS['ManeGeneId'].getValue(row)}</td><td>${getHelpIcon('ManeGeneId')}</td></tr>`
        locusPageRow1Box2 += `<tr><td class="locus-info-label">MANE Transcript Id:</td><td>${TABLE_COLUMNS['ManeTranscriptId'].getValue(row)}</td><td>${getHelpIcon('ManeTranscriptId')}</td></tr>`
        locusPageRow1Box2 += '</table> <br />'

        $("#locus-page-row1-box2").html(locusPageRow1Box2)

        // get url params
        const urlArgs = window.location.hash.substring(1)
        const homePageUrl = `index.html?#${urlArgs}`

        let locusPageRow2Box1 = `<div style="padding: 40px 12px 0px 12px">`
        locusPageRow2Box1 += `<div class="locus-info-label info-font-size" style="padding-bottom: 10px">Left flank:</div>${showTruncatedSequence(row['ReferenceLeftFlank'], 58, true, true, true)}`
        locusPageRow2Box1 += `<div style="padding-top: 20px"><a href="${homePageUrl}" style="font-size: 1.1em">&lt; Back to search page</a></div>`
        locusPageRow2Box1 += `</div>`
        $("#locus-page-row2-box1").html(locusPageRow2Box1)

        let locusPageRow2Box2 = `<div style="padding: 40px 12px 0px 12px">`
        locusPageRow2Box2 += `<div class="locus-info-label info-font-size" style="padding-bottom: 10px">Right flank:</div>${showTruncatedSequence(row['ReferenceRightFlank'], 58, true, false, true)}`
        locusPageRow2Box2 += `</div>`
        $("#locus-page-row2-box2").html(locusPageRow2Box2)


        const motifFrequencyTableRows = computeMotifFrequenciesTableRows(row['VamosMotifFrequencies'])
        let motifFrequencyTableHtml
        if (motifFrequencyTableRows.length > 1) {
            motifFrequencyTableHtml = computeMotifFrequenciesTableHtml(motifFrequencyTableRows, true)
            motifFrequencyTableHtml = `<div style="border-top: 1px dashed #ccc; padding: 23px 20px 15px 15px;">${motifFrequencyTableHtml}</div>`
        } else {
            motifFrequencyTableHtml = ''
        }
        $('#locus-page-efficient-motifs').html(motifFrequencyTableHtml)

        // Generate the rest of the page
        $('#locus-page-polymorphism-data').html('')

        let polymorphismContent1 = generatePolymorphismDialogContent1(row)
        polymorphismContent1 = `<div style="border-top: 1px dashed #ccc; padding: 23px 20px 15px 15px;">${polymorphismContent1}</div>`
        $('#locus-page-polymorphism-data').html(polymorphismContent1.replace(/\s+/g, ' ').trim())

        renderChartsInPolymorphismDialog(row);

        $('.question').popup({ on: 'click' })
        $('.show-popup').popup({ on: 'click', hoverable: true })
        $('#show-igv-button').click(async () => {
            const row = window.searchResults.rows[0]
            GLOBAL_PAGE_STATE['igvLoc'] = row['ReferenceRegion']

            if (GLOBAL_PAGE_STATE['showIGV'] === 0) {
                $('#show-igv-divider').click()
            } else {
                writePersistentPageStateToUrl()

                if (!window.igvBrowser) {
                    console.error("WARNING: IGV browser not initialized yet")
                    await updateIgv()
                }
                await window.igvBrowser.search(row['ReferenceRegion'])
            }
        })


    }

    const performSearch = async () => {
        // Remove any error messages and no results message
        $('#error-message').hide()
        $('#loading-container').show()      // Show loading indicator

        try {
            $('body').css('cursor', 'wait')

            let locusId = GLOBAL_PAGE_STATE['locusId']
            if (!locusId) {
                displayError('Missing locusId URL parameter (eg. ?locusId=4-3074876-3074933-CAG)')
                return
            }

            let selectedColumns = REQUIRED_DATA_COLUMNS_FOR_LOCUS_PAGE
            const whereClause = `WHERE LocusId = '${locusId}'`
            const query = `SELECT ${selectedColumns.join(', ')} FROM ${COMPLETE_TABLE_ID} ${whereClause}`

            window.searchResults = await queryBigQuery(query, 0, 1, null, null)

            console.log("search results:", window.searchResults)
            // Remove loading indicator and placeholder before showing results
            $('#loading-container').hide()

            displaySearchResults()

        } catch (error) {
            console.error('Error performing search:', error)
            $('#loading-container').hide()
            displayError('Error performing search: ' + error.message)
        } finally {
            $('body').css('cursor', 'default')
            $('#results-table').show()
            $('#results-table').removeClass('loading')
        }
    }

    // initialize the "What's new", "FAQ", "Downloads", and "About" modals
    ['whats-new', 'faq', 'downloads', 'about'].forEach(prefix => {
        $(`#${prefix}-link`).click((e) => {
            e.preventDefault()
            $(`#${prefix}-modal`).modal('show')
        })
    })

    // handle browser forward & back buttons
    window.addEventListener('popstate', readAndApplyPersistentPageStateFromUrl)

    // init ui elements
    $('.ui.button').popup()
    $(".ui.checkbox").checkbox()


    $(document).ready(async () => {

        await readAndApplyPersistentPageStateFromUrl()

        console.log("Done initializing page. GLOBAL_PAGE_STATE:", GLOBAL_PAGE_STATE)
        $('body').css('cursor', 'default')
    })

</script>

</body>
</html>
